<!DOCTYPE html>
<!--======================= CODE BY DOMINIK KREISER ==========================-->
<!--============================ COPYRIGHT 2017 ==============================-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>WhoaCalendar</title>
    <!--script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script-->
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet"/>
    <link rel="icon" href="icon.png"/>
    <style>
        body
        {
            padding:0;
            margin:0;
            height:100%;
            background-image:url("<%= static_path(@conn, "/images/bcg.png") %>");
            bacground-repeat:repeat;
        }
    </style>
</head>

<body>
    <div id="whole">
        <div id="title">WHOA CALENDAR</div>
        <div id="main_buttonbar">
            <button class="mainbutton mainbutton_pressed" id="leftbutton">CALCULATE</button>
            <button class="mainbutton" id="midbutton">ABOUT</button>
            <button class="mainbutton" id="rightbutton"></button>
        </div>
        <div id="container">
            <div id="zone_calculator">
                <p class="centered_paragraph">Your date of birth:</p>
                <div id="wrapper_day" class="selector_wrapper">
                    <button id="day_select" class="selector">- DAY -</button>
                    <div class="selector_content no_display">
                        <!--populated from script-->
                    </div>
                </div>
                <div id="wrapper_month" class="selector_wrapper">
                    <button id="month_select" class="selector">- MONTH -</button>
                    <div class="selector_content no_display">
                        <!--populated from script-->
                    </div>
                </div>
                <div id="wrapper_year" class="selector_wrapper">
                    <button id="year_select" class="selector">- YEAR -</button>
                    <div class="selector_content no_display">
                        <!--populated from script-->
                    </div>
                </div>
                <p class="centered_paragraph">How long do you think you'll live?</p>
                <div id="wrapper_life" class="selector_wrapper">
                    <button id="life_select" class="selector">- LIFESPAN -</button>
                    <div class="selector_content no_display">
                        <button class="option">100 years</button>
                        <button class="option">90 years</button>
                        <button class="option">84 years (female life expectancy in EU)</button>
                        <button class="option">81 years (life expectancy in EU)</button>
                        <button class="option">78 years (male life expectancy in EU)</button>
                        <button class="option">70 years</button>
                    </div>
                </div>
                <p class="centered_paragraph">How many hours a day do you sleep?</p>
                <div id="wrapper_sleep" class="selector_wrapper">
                    <button id="sleep_select" class="selector">- SLEEP -</button>
                    <div class="selector_content no_display">
                        <!--populated from script-->
                    </div>
                </div>
                <p id="alert_data" class="white_text transparent_text">Invalid data.</p>
                <button id="calculate_button">CALCULATE</button>
                
            </div>
            <div id="zone_about" class="no_display">
                <p class="centered_paragraph">About</p>
            </div>
            <div id="zone_explore" class="no_display">
                
            </div>
            <div id="zone_capsules" class="no_display">
                <div class="capsule_row">

                </div>
            </div>
        </div>
        
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>