<div class="jumbotron">
    <h2>Hello World, from <%= @value %>!</h2>
    <a href="<%= page_path(@conn, :index) %>">To the Welcome Page!</a>
    <img src="<%= static_path(@conn, "/images/phoenix.png")%>"/>
</div>
