*
{
	box-sizing: border-box;
}

body
{
	padding:0;
	margin:0;
	height:100%;
	background-image:url("bcg.png");
	bacground-repeat:repeat;
}

button
{
	font-family:"Neucha";
	color:rgba(230,230,230,1);
	text-align:center;
	cursor:pointer;
}

button:focus
{
	outline:none;
}

button:active
{
	outline:none;
}

#whole
{
	position:absolute;
	height:100%;
	width:100%;

	background: rgba(21,56,69,0.9);
background: -moz-linear-gradient(45deg, rgba(21,56,69,0.9) 0%, rgba(18,78,130,0.9) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(21,56,69,0.9)), color-stop(100%, rgba(18,78,130,0.9)));
background: -webkit-linear-gradient(45deg, rgba(21,56,69,0.9) 0%, rgba(18,78,130,0.9) 100%);
background: -o-linear-gradient(45deg, rgba(21,56,69,0.9) 0%, rgba(18,78,130,0.9) 100%);
background: -ms-linear-gradient(45deg, rgba(21,56,69,0.9) 0%, rgba(18,78,130,0.9) 100%);
background: linear-gradient(45deg, rgba(21,56,69,0.9) 0%, rgba(18,78,130,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#153845', endColorstr='#124e82', GradientType=1 );
}

#title
{
	width:100%;
	margin-top:4.2%;

	color:white;
	font-size:9vh;
	font-family:"Neucha";
	text-align:center;

	text-shadow:6px 6px 0px rgba(0,0,0,0.5);
}

#main_buttonbar
{
	width:100%;
	height:5.5%;
	margin-top:2vh;
}

.mainbutton
{
	width:10%;
	height:100%;
	float:left;
	margin-left:2%;
	margin-top:0;

	background-color:rgba(0,2,9,0.17);
	font-size:1.5vh;
	text-shadow:1px 1px 1px rgba(0,0,0,0.7);

	border:3px solid rgba(255,255,255,0.65);
	border-radius:30px;

	box-shadow:0px 8px 0 rgba(0,2,10,0.4);

	cursor:pointer;
	transition:0.3s border, 0.3s box-shadow, 0.3s text-shadow,
	0.3s background-color, 0.3s margin-top;
}

.mainbutton:hover
{
	border:3px solid rgba(255,255,255,0.9);
	text-shadow:0px 0px 1px rgba(0,0,0,0.4);
	text-shadow:0px 0px 6px rgba(255,255,255,0.5);
	background-color:rgba(40,220,255,0.3);
}

.mainbutton_pressed
{
	background-color:rgba(0,2,9,0.05);
	box-shadow:0px 0px 0 rgba(0,2,10,0.4);
	margin-top:8px;
}

#leftbutton
{
	margin-left:33%;
}

#container
{
	position:relative;
	width:100%;
	height:62%;
}

#zone_calculator
{
	display:block;
	position:absolute;
	width:24%;
	height:100%;
	margin-top:4vh;
	margin-left:38%;

	border:4px solid rgba(255,255,255,0.65);
	border-radius:50px;

	box-shadow:1px 1px 0px 4px rgba(0,0,0,0.3);

	transition: 0.4s opacity;
}

#zone_about
{
	display:block;
	position:absolute;
	width:28%;
	height:100%;
	margin-top:4vh;
	margin-left:36%;

	border:4px solid rgba(255,255,255,0.65);
	border-radius:50px;

	box-shadow:1px 1px 0px 4px rgba(0,0,0,0.3);

	transition: 0.4s opacity;
}

#zone_explore
{
	display:block;
	position:absolute;
	width:96%;
	height:100%;
	margin-left:2%;

	transition: 0.4s opacity;
}

#zone_capsules
{
	display:block;
	position:absolute;
	width:100%;
	height:70vh;
	margin-left:0;
	margin-top:2vh;

	transition: 0.4s opacity;
}

.no_display
{
	display:none;
	height:0;
	width:0;
	opacity:0;
	z-index:-1;
}

.centered_paragraph
{
	width:100%;

	color:rgba(230,230,230,1);
	font-size:2.1vh;
	font-family:"Neucha";
	text-align:center;
	margin-top:4.2vh;

	text-shadow:1px 1px 1px rgba(0,0,0,0.8);
}

.selector_wrapper
{
	position: relative;
    display: inline-block;
	border:red 0px solid;
}

#wrapper_day
{
	width:20%;
	margin-left:9%;
}

#wrapper_month
{
	width:30%;
	margin-left:5%;
}

#wrapper_year
{
	width:20%;
	margin-left:5%;
}

#wrapper_life
{
	width:60%;
	margin-left:20%;
}

#wrapper_sleep
{
	width:30%;
	margin-left:35%;
}

.selector
{
	height:3.8vh;
	width:100%;
	background-color:rgba(0,0,0,0.12);
	font-size:1.6vh;
	text-shadow:1px 1px 1px rgba(0,0,0,0.8);

	border:1px solid rgba(0,0,0,0.05);
	transition:0.3s background-color, 0.3s text-shadow;
}

.selector:hover
{
	background-color:rgba(40,220,255,0.4);
	text-shadow:0px 0px 1px rgba(0,0,0,0.4);
	text-shadow:0px 0px 6px rgba(255,255,255,0.5);
}

.selector_content
{
	display: block;
	width:100%;
	max-height:39vh;
	overflow:auto;
    position: absolute;
	z-index: 2;
}

.option
{
	background-color:rgba(26, 121, 153,1);
	border:1px solid rgba( 22, 115, 145,1);
	display:block;
	height:2.8vh;
	font-size:1.4vh;
	width:100%;
	transition:0.2s background-color;
}

.option:hover
{
	background-color:rgba(35, 138, 170,1);
}

#alert_data
{
	width:100%;
	text-align:center;
	font-size:1.6vh;
	height:2.4vh;
	margin-top:3vh;
	margin-bottom:0;
	font-family:"Neucha";
	
}

.white_text
{
	color:rgba(255,255,255, 0.8);
}

.transparent_text
{
	color:rgba(255,255,255,0);
}

#calculate_button
{
	display:block;
	width:36%;
	height:11vh;
	margin-left:32%;
	margin-top:0vh;
	font-size:1.6vh;
	text-shadow:0px 0px 1px rgba(0,0,0,0.4);
	background-color:rgba(178, 26, 52, 1);
	box-shadow:0px 1.2vh 0px rgba(50,0,0,0.75);

	border:0px solid rgba(10,135,140,1);
	border-radius:60px;

	transition:0.15s margin, 0.17s box-shadow, 0.4s background-color, 0.4s text-shadow;
}

#calculate_button:hover
{
	background-color:rgba(140, 0, 18,1);
	text-shadow:0px 0px 1px rgba(0,0,0,0.4);
	text-shadow:0px 0px 6px rgba(255,255,255,0.9);
}

#calculate_button:active
{
	box-shadow:0px 0vh 0px rgba(50,0,0,0.75);
	margin-top:1.2vh;
}

.capsule_row
{
	height:0.63vh;
	margin-top:0px;
	margin-left:6%;
}

.capsule
{
	display:inline-block;
	height:100%;;
	width:0.25%;
	margin-left:0px;
	border:1px solid rgba(0,0,0,0.3);
	background-color:rgb(165, 237, 239);
}

.lived
{
	background-color:rgb(87, 134, 142);
}

.slept
{
	background-color:rgb(27, 127, 153);
}

.sleep
{
	background-color:rgb(106, 232, 237);
}



@media screen and (max-aspect-ratio: 8/5) 
{
	#zone_calculator
	{
		width:36%;
		margin-left:32%;
	}

	.mainbutton
	{
		width:13%;
	}

	#leftbutton
	{
		margin-left:28.5%;
	}
}

@media screen and (max-aspect-ratio: 8/8) 
{
	#zone_calculator
	{
		width:72%;
		margin-left:14%;
	}

	.mainbutton
	{
		width:25%;
	}

	#leftbutton
	{
		margin-left:10.5%;
	}


}